#user_id_text, #user_pass_text {
    color: var(--tg-theme-text-color);
}

body {
    background-color: var(--tg-theme-bg-color);
}

#auth {
    max-width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

#auth_text {
    color: var(--tg-theme-text-color);
    text-align: center;
}

input, button {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 5px;
    border-radius: 8px;
}

input {
    background-color:var(--tg-theme-bg-color);
    border-width: 2px;
    border-color: white;
    color: var(--tg-theme-text-color);
}

button {
    background-color: white;
    border-radius: 10px;
    color:black;
    cursor: pointer;
}

