#user_id, #user_pass {
    color: var(--tg-theme-text-color);
}

body {
    background-color: var(--tg-theme-bg-color);
}

form {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, button {
    width: 80%;
    padding: 8px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 5px;
}

input {
    background-color:var(--tg-theme-bg-color);
    border-width: 2px;
    border-color: white;
    color: var(--tg-theme-text-color);
}

button {
    background-color: white;
    color:black;
    cursor: pointer;
}

